<% action = (cat.persisted? ? cat_url(cat) : cats_url ) %>
<% method = (cat.persisted? ? :patch : :post ) %>

<form action='<%= action %>' method='post'>
  <input type ='hidden' name='_method' value='<%=method%>'>

  <label for='name'>name</label>
  <input id='name' type='text' name='cat[name]' value='<%=cat.name%>'>
  <br>

  <label for='sex'>sex</label>
  <input type='radio' name='cat[sex]' value='M' <%=cat.sex == 'M' ? 'checked' : '' %> >M
  <input type='radio' name='cat[sex]' value='F' <%=cat.sex == 'F' ? 'checked' : '' %> >F
  <br>

  <label for='color'>color</label>
  <select id='color' name='cat[color]'>
    <option></option>
    <% Cat::CAT_COLORS.each do |color| %>
    <option
      <%= cat.color == color ? 'selected' : '' %>
      value = '<%=color%>' > <%= color %>
    </option>
    <% end %>
  </select>
  <br>

  <label for='date'>date</label>
  <input id='date' type='date' name='cat[birth_date]' value='<%=cat.birth_date%>'>
  <br>

  <label for='text'>description</label>
  <textarea id='text' name='cat[description]'><%= cat.description %></textarea>

  <%submit = ( cat.persisted? ? 'Update' : 'Create' ) %>
  <input type='submit' value = '<%=submit%>'>
</form>
