<table>
  <tr>
    <th> Name </th>
    <th> Sex </th>
    <th> Birth Date </th>
    <th> Color </th>
  </tr>
  <tr>
    <td> <%=@cat.name%> </td>
    <td> <%=@cat.sex%> </td>
    <td> <%=@cat.birth_date%> </td>
    <td> <%=@cat.color%> </td>
  </tr>
</table>
<br>
<%= link_to "Edit #{@cat.name}", edit_cat_url(@cat) %>
<br>
<%= link_to 'Index', cats_url %>
